body{
background-color: crimson;
}

h1{
	text-align: center;
	font-size: 300%;
	box-shadow: black -10 px 15 px;
	text
}

.Text{
	margin: 25px;
    padding: 20px;
    background-color: white;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.Text2{
	margin: 25px;
    padding: 20px;
    background-color: white;
    display: block;
    text-decoration: none;
    color: mediumpurple;
    border-radius: 20px;
    text-align: center;
	float: right;
}

ul{
	list-style-type: none;
	margin: 0;
	height: 300px;
	float: bottom;
}

li a{
	margin: 25px;
	background-color: white;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	color: white;
	text-align: center;
	float: bottom;
}

