body{
background-color: crimson;
}

h1{
	text-decoration: underline;
    text-decoration-color: black;
    box-shadow: black -10px 15px;
    text-decoration-style: solid;
    background-color: white;
	text-align: center;
	color: black;
}

.Text{
	margin: 25px;
    padding: 20px;
    background-color: white;
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    text-align: center;
}

.Text2{
	margin: 25px;
    padding: 20px;
    background-color: white;
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    text-align: center;
	float: right;
}

ul{
	list-style-type: none;
	margin: 0;
	height: 300px;
	float: bottom;
}

li a{
	margin: 25px;
	background-color: white;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	color: black;
	text-align: center;
	float: bottom;
}

