body{
background-color: crimson;
}

h1{
	text-align: center;
	font-size: 300%;
	box-shadow: black -10 px 15 px;
	text
}

.Text{
	background-color: white;
	height: 500 px;
	width: 25%;
	margin: 25px;
	display: block;
	text-decoration: none;
	border-radius: 20px;
	color: black;
	text-align: center;
	float: left;
}

ul{
	list-style-type: none;
	margin: 0;
	height: 300px;
	float: bottom;
}

li a{
	margin: 25px;
	background-color: black;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	color: black;
	text-align: center;
}

