body{
background-color: crimson;
}

h1{
	text-align: center;
	font-size: 300%;
	box-shadow: white -10 px 15 px;
	background-color: white;
}

.Text{
	background-color: white;
	height: 100 px;
	width: 50%;
	float: left;
}