body{
background-color: crimson;
}

h1{
	text-align: center;
	font-size: 300%;
	box-shadow: white -10 px 15 px;
}

.Text{
	background-color: white;
	height: 500 px;
	width: 50%;
}

li a{
	margin: 25px;
	background-color: white;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	border-radius: 25px;
	text-align: center;
}

.container{
	background-color: rgba(0,0,0,.25);
}
